<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>


</head>
<body>

<table id="userstable">
    <thead>
    <tr>
        <th scope="col" th:text="#{user.name.label}"></th>
        <th scope="col" th:text="#{user.age.label}"></th>
        <th scope="col" th:text="#{user.active.label}"></th>
        <th scope="col" text=""></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.active}"></td>
        <td>
            <a th:href="@{/ds/users/view(userid=${user.id})}">EDIT</a>
            <a th:href="@{/ds/users/delete(userid=${user.id})}">DELETE</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>